/* Image for StyleSheet*/
 
.imageContainer {
  position: relative;
  width: 100%;
  max-width: 400px;
}
.imageContainer img {
  width: 100%;
  height: auto;
}

.imageContainer .btn {
  position: absolute;
  top: 80%;
  left: 20%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  background-color:rgba(0, 0, 0, 0.5);
  color: white;
  font-size: 16px;
  padding: 12px 24px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  text-align: center;
}

.imageContainer .btn:hover {
  background-color: black;
}
/* Image For Stylesheet */

/* listeingItem Show as the link this override the using this css */
.category-link a {
  text-decoration: none;
  color: black;
  line-height: normal;
}